/*  #f72585 hot pink
*/
a {
  text-decoration: none !important;
}

.appStyle {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  background-color: #474747;
  font-family: 'Fredoka', Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.arrayStyles {
  width: 100vw;
  padding-top: 0px;
}

.arrayText {
  text-align: center;
}

.allComponentsWrapper {
  max-width: 1700px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}

.bannerText {
  font-weight: bold;
  color: #72a1e5;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.bannerContainer {
  margin: 50px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.bannerH1 {
  text-shadow: 2px 2px #474747;
}

.card {
  margin-top: 20px;
  height: 120px;
  width: 100%;
  text-align: center;
}

.carouselImgDiv {
  width: 1600;
  max-height: 600px;
  -o-object-fit: cover !important;
     object-fit: cover !important;
  -o-object-position: bottom !important;
     object-position: bottom !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkerBG {
  border-radius: 20px 20px 0 0;
  background-color: white;
  background-image: linear-gradient(45deg, #1b1b1e 25%, transparent 25%), linear-gradient(-45deg, #1b1b1e 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #1b1b1e 75%), linear-gradient(-45deg, transparent 75%, #1b1b1e 75%);
  background-size: 40px 40px;
  background-position: 0 0, 0 20px, 20px -20px, -20px 0px;
}

.footer {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-left: 1vw;
  margin-bottom: 1vw;
}

.footerIcon {
  height: 10vw;
  max-height: 50px;
  margin-right: 10px;
}

.header {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: bolder;
  color: #00fdfd;
  letter-spacing: 2px;
  cursor: pointer;
}

.hoursStyles {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.mainHeader {
  position: absolute;
  text-align: left;
  margin-left: 2vw;
  font-size: 60px;
  padding-top: 10px;
}

.mugClubStyles {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.menuStyles {
  background-color: #2b3a67;
  padding: 30px;
  border-radius: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0%;
}

.mugClubImg {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
}

.navButton {
  cursor: pointer;
  color: #00fdfd;
  margin-left: 5vw;
  font-size: 20px;
}

.photo {
  height: 100%;
  width: 100%;
}

.photoTileLg {
  width: 20%;
  aspect-ratio: 1;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin: 10px 10px 10px 10px;
}

.photoTileSm {
  width: 50%;
  aspect-ratio: 1;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin: 5px;
}

.photoTileArrayRow {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.responsiveMap {
  overflow: hidden;
  padding-left: 0%;
  padding-right: 0%;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.responsiveMap iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.tileText {
  position: absolute;
  text-align: center;
  color: #f72585;
  text-shadow: 2px 2px #474747;
}

.welcomeCard {
  background-color: #72a1e5;
  border: 5px solid #1b1b1e;
  margin-bottom: 20px;
  border-radius: 20px;
  height: 500px;
  width: 100%;
}

.welcomeCardImg {
  width: 40%;
  aspect-ratio: 1;
  border-radius: 100;
  overflow: hidden;
  position: relative;
}

.welcomeCardRow {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.welcomeCarousel {
  width: 100%;
  position: relative;
}

/*required so the images in the carousel align with the carousel component itself*/
.welcomeCarouselImg {
  width: 100%;
  height: 100%;
}

/*--Effects------------------------------------------------------------------------------------*/
.sectionHeader {
  text-shadow: 0 0 1px grey, 0 0 20px #00fdfd, 0 0 40px #00fdfd;
}

.navButton:hover {
  -webkit-transition: .2s;
  transition: .2s;
  text-shadow: 0 0 1px grey, 0 0 20px #f72585, 0 0 40px #f72585;
  color: #f72585;
}

.header {
  -webkit-transition-property: opacity .3s;
  transition-property: opacity .3s;
  opacity: 0%;
  -webkit-animation: illuminate 2s cubic-bezier(0, -3.06, 0, 0.88) forwards;
          animation: illuminate 2s cubic-bezier(0, -3.06, 0, 0.88) forwards;
}

.headerBlue {
  color: #00fdfd;
  text-shadow: 0 0 1px grey, 0 0 20px #00fdfd, 0 0 40px #00fdfd;
}

.headerPink {
  color: #f72585;
  text-shadow: 0 0 1px grey, 0 0 20px #f72585, 0 0 40px #f72585;
}

@-webkit-keyframes illuminate {
  100% {
    opacity: 100%;
  }
}

@keyframes illuminate {
  100% {
    opacity: 100%;
  }
}

.header span:hover:nth-child(1) {
  color: white;
}

/*-----------*/
/*-----------*/
/*-----------*/
/*-----------*/
/*-----------*/
/*-----------*/
/*-----------*/
/*-----------*/
/*-----------*/
/*-----------*/
/*-----------*/
.CarouselSmallViewport {
  display: none;
}

/*--Media Queries------------------------------------------------------------------------------*/
/*bootstrap extra-large breakpoint*/
@media (max-width: 1200px) {
  .fadesAtXLViewport {
    display: none;
  }
}

/*bootstrap large breakpoint*/
@media (max-width: 992px) {
  .bannerText {
    text-align: center;
    padding-top: 1vh;
  }
  .fadesAtLGViewport {
    display: none;
  }
}

/*bootstrap medium breakpoint*/
@media (max-width: 768px) {
  .mapStyle {
    text-align: center;
  }
  .menuStyles {
    margin-left: 10px;
    margin-right: 10px;
  }
}

/*bootstrap extra-small breakpoint*/
@media (max-width: 576px) {
  .card {
    height: 100px;
  }
}

/*researched thinnest breakpoint to design for
  @media (max-width: 320) {}
  */
/*preemptive query for xxs phones, galaxy fold and others */
/*# sourceMappingURL=style.css.map */